body {
  width: 100%;
  background: url(./img/night.jpg);
  background-size: auto;
  box-sizing: border-box;
  padding-top: 20%;
}
.wrapper {
  width: 100%;
  font-weight: bold;
}

.time {
  font-size: 12rem;
  color: rgb(37, 236, 236);
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  display: flex;
  justify-content: center;
}
.text {
  font-size: 5rem;
  color: rgb(37, 236, 160);
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(229, 229, 250),
    0 0 0.2em rgb(225, 225, 248);
  display: flex;
  justify-content: center;
  opacity: 0.7;
}
input {
  width: 15rem;
  font-size: 3rem;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #f6f6f6;
  opacity: 0.7;
  border-radius: 20px;
}

#textName, #focus{
    font-size: 5rem;
    color: rgb(37, 236, 160);
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(229, 229, 250),
      0 0 0.2em rgb(225, 225, 248);
    display: flex;
    justify-content: center;
    opacity: 0.7;
}
